.header {
    background-color: #dae8fc;
    border: 1px solid #6c8ebf;
}

.nav {
    background-color: #fff2cc;
    border: 1px solid #d6b656;
}

.tarjeta {
    background-color: #f8cecc;
    border: 1px solid #b85450;
}

.secundario {
    background-color: #d5e8d4;
    border: 1px solid #82b366;
}

.footer {
    background-color: #1ba1e2;
    border: 1px solid #006eaf;
}

.aside {
    background-color: #60a917;
    border: 1px solid #2d7600;
}